<!DOCTYPE html>
<head>
<link rel="stylesheet" href="public/static/gallery.css">
</head>
<body>
    <h2>gallery</h2>
{{template "logout"}}
    <h2>upload new image:</h2>
    <form  action="/enter_gallery" method="POST" enctype="multipart/form-data">
        <input type="file" name="new_pic">
        <label for="annotate">annotate:</label>
        <input type="text" name="annotate">
          <input type="submit">

    </form>   

see gallery data


{{range $key,$val := .}}
<div>
<img src="public/pics/{{$key}}" alt='{{$val}}'> <aside>{{$val}}</aside>
<form action="/remove_pic" method="GET">
    <input type="submit" value="{{$key}}"  name="remove_pic"/>
        </form>
        </div> 

{{end}}
</body>
</html>