<!DOCTYPE html>
<head>

</head>
<body>
    <h2>{{.Name}}'s private place</h2>
    <h2>My Galleries:</h2>
<ul>
    {{range .Galleries}}
   <li>
       <form action="/enter_gallery" method="GET">
    <input type="submit" value="{{.}}" name="enter_gallery_name"/>
        </form> 
    </li>
   
</ul>
   {{end}}  
  
    
<form action="/create_new_gallery"  method="POST">
    <label for="gallery_name">create new gallery:</label>
    <input type="text"  name="gallery_name">
    <input type="submit">
</form>  
</body>
</html>